[Unit]
Description = Gunicorn based serving of the clubmanager
After = network.target
Wants = network-online.target

[Service]
Restart = always
Type = simple
ExecStart = /home/ec2-user/.cache/pypoetry/virtualenvs/clubmanager-wnM1rr7f-py3.11/bin/gunicorn clubmanager.wsgi
Environment = 
WorkingDirectory = /home/ec2-user/clubmanager

[Install]
WantedBy = multi-user.target
