[Unit]
Description = Gunicorn based serving of the clubmanager
After = network.target
Wants = network-online.target

[Service]
Restart = always
Type = simple
ExecStart = /bin/bash /home/ec2-user/clubmanager/start-server.sh
Environment = 
WorkingDirectory = /home/ec2-user/clubmanager

[Install]
WantedBy = multi-user.target
