{% load compress %}
{% load static %}
{% load i18n %}
{% load config_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ClubManager</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>

        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}" />
        {% endcompress %}

        <script src="https://kit.fontawesome.com/8189f10079.js" crossorigin="anonymous"></script>
        
    </head>

    <body class="flex flex-col h-dvh">
        <!-- Navbar -->
        <div class="w-full bg-gray-200 navbar dark:bg-gray-700">
            <div class="navbar-start">
                <div class="flex-1 px-2 mx-2 text-xl font-bold">
                    ClubManager
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center grow">
            <div class="flex flex-col w-full max-w-2xl m-4 border rounded-lg shadow-xl border-neutral h-fit lg:m-0">
                <div class="w-full p-4 bg-gray-200 rounded-t-lg dark:bg-gray-700">
                    <div class="text-2xl font-bold">
                        ClubManager Access
                    </div>
                </div>

                <div class="w-full p-4">
                    <div class="flex flex-row items-center justify-center gap-4 my-4">
                        <img class="w-24 tranform-gpu mask mask-circle bg-neutral" alt="logo {{ site_name }}" src="{% get_static_prefix %}{% site_logo %}" />
                        <div class="flex flex-col gap-2">
                            <h1 class="text-xl font-bold lg:text-3xl">{% site_name %}</h1>
                            {% comment %} <h2 class="font-semibold">{% blocktranslate %}Welcome back. Please login to proceed.{% endblocktranslate %} {% endcomment %}
                        </div>
                    </div>

                    <div class="mt-8">
                        {% block content %}{% endblock content %}
                    </div>

                    {% url "two_factor:login" as login %}
                    {% url "logout" as logout %}


                    {% if login not in request.path and logout not in request.path%}
                        <div class="mt-8">
                            <a class="w-full btn btn-neutral" href="{% url "clubmanager:index" %}"><i class="fa-solid fa-arrow-left"></i>{% translate "Back to ClubManager" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>