{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% translate "News Items" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-newspaper"></i>{% translate "News Items" %}</h1>
{% endblock pagetitle %}

{% block content %}
    <div class="flex flex-col items-center gap-2 lg:flex-row">
        <div class="badge badge-outline">
            <i class="mr-1 fa-solid fa-eye"></i>
            {% translate "Preview" %}
        </div>
        <h2 class="mt-0 text-2xl border-b-0 subtitle">{{ newsitem.title }}</h2>
    </div>

    <div class="flex flex-col items-center justify-around pt-1 mb-8 text-sm text-center border-t border-slate-600 text-slate-600">
        <div>{{ newsitem.publish_on|date:"D d b Y H:i" }}</div>
        <div class="flex flex-row flex-wrap justify-center gap-1 mx-2 mt-2">
            {% for team in newsitem.teams.all %}
                <div class="badge badge-neutral badge-outline badge-sm">{{ team.short_name }}</div>
            {% endfor %}
        </div>
    </div>

    <article class="px-4 mb-16 space-y-5 font-normal prose text-justify max-w-fit">
        {% if newsitem.main_picture %}  
            <img src="{{ newsitem.main_picture.picture.url }}" width="{{ newsitem.main_picture.picture.width }}" height="{{ newsitem.main_picture.picture.height }}" class="float-left object-scale-down w-full mx-auto mb-6 border rounded-lg shadow-lg border-neutral transform-gpu max-w-fit desktop:max-h-svh desktop:w-4/12 desktop:float-right desktop:ml-6" />
        {% endif %}

        {{ newsitem.formatted|safe }}
    </article>

    {% if pictures %}
        <div class="clear-both">
            <h2 class="mb-2 text-2xl">Foto album</h2>

            <div class="gap-2 columns-2 laptop:columns-3 desktop:columns-4">
                {% for picture in pictures %}
                    <a href="{{ picture.picture.url }}">
                        <img src="{{ picture.picture.url }}" width="{{ picture.picture.width }}" height="{{ picture.picture.height }}" class="w-full border rounded-lg border-neutral" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}