{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% translate "Seasons" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-calendar-days"></i>{% translate "Seasons" %}</h1>
{% endblock pagetitle %}

{% block content %}
    <div>
        {% blocktranslate with start_date=season.start_date end_date=season.end_date %}    
            Are you sure you want to remove season <span class="font-bold">{{ start_date }} - {{ end_date }}</span>?
        {% endblocktranslate %}
    </div>

    <form method="post" action="{% url "clubmanager_admin:teams:seasons_delete" object.id %}">
        {% csrf_token %}

        <div class="flex flex-row gap-2 mt-4">
            <a href="{% url "clubmanager_admin:teams:seasons_index" %}" class="btn">{% translate "Cancel" %}</a>
            <button type="submit" class="btn btn-error">{% translate "Delete" %}</button>
        </div>
    </form>
{% endblock content %}