{% extends "_base.html" %}

{% load i18n %}
{% load form_tags %}

{% block content %}
    <h1 class="title"><i class="fa-solid fa-people-group"></i>{% translate "Teams" %}</h1>

    {% if team %}
        <div class="flex flex-row items-center gap-2 mt-8">
            {% if team.type == "INT" %}
                <div class="badge badge-info">
            {% else %}
                <div class="badge badge-accent">
            {% endif %}
                {{ team.get_type_display }}
            </div>

            <h2 class="mt-0 text-2xl border-b-0 subtitle">{{ team.name }}</h2>
        
            <div class="flex justify-end grow">
                <a href="{% url "clubmanager_admin:teams:teams_delete" team.id %}" class="hidden lg:flex btn btn-outline btn-error">
                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <a href="{% url "clubmanager_admin:teams:teams_delete" team.id  %}" class="lg:hidden btn btn-outline btn-error">
                <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
            </a>
        </div>
    {% else %}
        <h2 class="text-2xl border-b-0 subtitle">{% translate "Create new team" %}</h2>
    {% endif %}

    {% if form.errors %}
        <div class="mt-4 font-semibold text-error">{% blocktranslate %}Errors found - please update the errors below before continuing{% endblocktranslate %}</div>
    {% endif %}


    <form method="post">
        {% csrf_token %}

        <h2 class="subtitle">{% translate "Team information" %}</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
            {% form_field form.name %}
            {% form_field form.short_name %}
            {% form_field form.type %}
            {% form_field form.number_pool %}
        </div>

        <button class="w-full mt-8 btn btn-primary lg:w-fit" type="submit">
            <i class="fa-solid fa-floppy-disk"></i>{% translate "Save" %}
        </button>
    </form>
{% endblock content %}