{% load i18n %}

<li>
    <span class="menu_title">Members</span>
    {% url "clubmanager_admin:members:members_index" as members_index %}
    <a href="{{ members_index }}" {% if members_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-users min-w-5"></i>{% translate "Members" %}
    </a>

    {% url "clubmanager_admin:members:families_index" as families_index %}
    <a href="{{ families_index }}" {% if families_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-users min-w-5"></i>{% translate "Families" %}
    </a>

    <span class="menu_title">News</span>
    {% url "clubmanager_admin:news:news_index" as news_index %}
    <a href="{{ news_index }}" {% if news_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-newspaper min-w-5"></i>{% translate "News Items" %}
    </a>

    {% url "clubmanager_admin:news:editors_index" as editors_index %}
    <a href="{{ editors_index }}" {% if editors_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-users min-w-5"></i>{% translate "Editors" %}
    </a>

    <span class="menu_title">Teams</span>
    {% url "clubmanager_admin:teams:seasons_index" as seasons_index %}
    <a href="{{ seasons_index }}" {% if seasons_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-calendar-days min-w-5"></i>{% translate "Seasons" %}
    </a>

    {% url "clubmanager_admin:teams:numberpools_index" as numberpools_index %}
    <a href="{{ numberpools_index }}" {% if numberpools_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-layer-group min-w-5"></i>{% translate "Number Pools" %}
    </a>

    {% url "clubmanager_admin:teams:teamroles_index" as teamroles_index %}
    <a href="{{ teamroles_index }}" {% if teamroles_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-circle-user min-w-5"></i>{% translate "Team Roles" %}
    </a>

    {% url "clubmanager_admin:teams:teams_index" as teams_index %}
    <a href="{{ teams_index }}" {% if teams_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-people-group min-w-5"></i>{% translate "Teams" %}
    </a>
    
    {% url "clubmanager_admin:teams:teammembers_index" as teammembers_index %}
    <a href="{{ teammembers_index }}" {% if teammembers_index in request.path %}class="active"{% endif %}>
        <i class="fa-solid fa-ticket min-w-5"></i>{% translate "Team Memberships" %}
    </a>
</li>