{% extends "_base.html" %}

{% load pagination_tags %}
{% load initials_avatar %}
{% load i18n %}
{% load form_tags %}

{% block title %}{% translate "Members" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-users"></i>{% translate "Members" %}</h1>
{% endblock pagetitle %}

{% block content %}
    <div class="action-bar">
        <div class="action-bar-filter">
            <form>
                {% for field in filter.form %}
                    {% form_field field show_label=False size="extra-small" %}
                {% endfor %}

                <button type="submit"><i class="fa-solid fa-filter"></i>{% translate "Filter" %}</button>
            </form>
        </div>

        <div class="action-bar-add">
            <a class="mr-2 btn btn-accent" href="{% url "clubmanager_admin:members:members_add_bulk" %}">
                <i class="fa-solid fa-file-upload"></i>{% translate "Bulk load members" %}
            </a>
            
            <a class="add-btn" href="{% url "clubmanager_admin:members:members_add" %}">
                <i class="fa-solid fa-plus"></i>{% translate "Add" %}
            </a>
        </div>
    </div>

    <div class="hidden mt-2 lg:block">
        <table class="table table-zebra">
            <thead>
                <tr>
                    {% comment %} <th>
                        <label>
                            <input type="checkbox" class="checkbox checkbox-sm" />
                        </label>
                    </th> {% endcomment %}
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Birthday" %}</th>
                    <th>{% translate "License" %}</th>
                    <th>{% translate "Phone Number" %}</th>
                    <th>{% translate "Emergency Contact" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if object_list|length == 0 %}
                    <tr>
                        <td colspan="6">
                            {% translate "No members found" %}
                        </td>
                    </tr>
                {% else %}
                    {% for member in object_list %}
                        <tr class="hover">
                            {% comment %} <th>
                                <label>
                                    <input type="checkbox" class="checkbox checkbox-sm" />
                                </label>
                            </th> {% endcomment %}
                            <td>
                                <a href="{% url "clubmanager_admin:members:members_edit" member.id %}">
                                    <div class="flex flex-row items-center gap-3">
                                        <div class="avatar">
                                            <div class="w-12 h-12 mask mask-squircle">
                                                <img alt="{{ member.user.get_full_name }} avatar" src="{% render_initials_avatar member.user.get_full_name %}" />
                                            </div>
                                        </div>

                                        <div class="flex flex-col grow">
                                            <div class="font-bold">{{ member.user.get_full_name }}</div>
                                            <div class="text-sm opacity-50">{{ member.email }}</div>
                                        </div>

                                        {% if member.is_organization_admin %}
                                            <div class="badge badge-accent">{% translate "Admin" %}</div>
                                        {% endif %}
                                    </div>
                                </a>
                            </td>
                            <td>{{ member.birthday|date:"d M Y"|default:"-" }}</td>
                            <td>{{ member.license|default:"-" }}</td>
                            <td>
                                {% if member.phone %}
                                    <a class="border-b border-info hover:border-b-2" href="{{ member.phone.as_rfc3966 }}">
                                        <i class="mr-2 fa-solid fa-phone"></i>
                                        {{ member.phone }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <div class="flex flex-col gap-2">
                                    {% if member.emergency_phone_primary %}
                                        <div>
                                            <a class="border-b border-info hover:border-b-2" href="{{ member.emergency_phone_primary.as_rfc3966 }}">
                                                <i class="mr-2 fa-solid fa-phone"></i>
                                                {{ member.emergency_phone_primary }}
                                            </a>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                        
                                    {% if member.emergency_phone_secondary %}
                                        <div>
                                            <a class="mt-2 border-b border-info hover:border-b-2" href="{{ member.emergency_phone_secondary.as_rfc3966 }}">
                                                <i class="mr-2 fa-solid fa-phone"></i>
                                                {{ member.emergency_phone_secondary }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <a class="mr-2 btn btn-outline btn-sm" href="{% url "clubmanager_admin:members:members_edit" member.id %}">
                                    <i class="fa-solid fa-eye"></i>{% translate "Details" %}
                                </a>
                                <a class="btn btn-outline btn-error btn-sm" href="{% url "clubmanager_admin:members:members_delete" member.id %}">
                                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 mt-2 lg:hidden">
        {% if object_list|length == 0 %}
            <div>{% translate "No members found" %}</div>
        {% else %}
            {% for member in object_list %}
                <a href="{% url "clubmanager_admin:members:members_edit" member.id %}">
                    <div class="data-card">
                        <div class="avatar">
                            <div class="w-12 h-12 mask mask-squircle">
                                <img alt="{{ member.user.get_full_name }} avatar" src="{% render_initials_avatar member.user.get_full_name %}" />
                            </div>
                        </div>

                        <div class="data">
                            <div>{{ member.user.get_full_name }}</div>
                            {% if member.email %}
                                <div>{{ member.email }}</div>
                            {% endif %}
                        </div>

                        {% if member.is_organization_admin %}
                            <div class="badge badge-accent">{% translate "Admin" %}</div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if is_paginated %}
        <div class="flex justify-center mt-4">
            <div class="join">
                {% if page_obj.has_previous %}
                    <a class="join-item btn" href="?{% url_replace request "page" 1 %}">&laquo;<span class="hidden lg:inline"> {% translate "first" %}</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.previous_page_number %}"><span class="hidden lg:inline">{% translate "previous" %}</span><span class="lg:hidden">&lt;</span></a>
                {% endif %}

                <button class="join-item btn btn-disabled">{% blocktranslate with page=page_obj.number num_pages=page_obj.paginator.num_pages %}page {{ page }} of {{ num_pages }}{% endblocktranslate %}</button>

                {% if page_obj.has_next %}
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.next_page_number %}"><span class="hidden lg:inline">{% translate "next" %}</span><span class="lg:hidden">&gt;</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.paginator.num_pages %}"><span class="hidden lg:inline"> {% translate "last" %}</span> &raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}