{% extends "_base.html" %}

{% load i18n %}
{% load form_tags %}
{% load initials_avatar %}

{% block content %}
    <h1 class="title"><i class="fa-solid fa-users"></i>{% translate "Members" %}</h1>

    {% if member %}
        <div class="flex flex-row items-center gap-2 mt-8">
            <div class="avatar">
                <div class="w-12 h-12 mask mask-squircle">
                    <img alt="{{ member.user.get_full_name }} avatar" src="{% render_initials_avatar member.user.get_full_name %}" />
                </div>
            </div>

            <h2 class="mt-0 text-2xl border-b-0 subtitle">{{ member.user.get_full_name }}</h2>

            {% if member.is_organization_admin %}
                <div class="badge badge-accent">{% translate "Admin" %}</div>
            {% endif %}

            <div class="flex justify-end grow">
                <a href="{% url "clubmanager_admin:members:members_delete" member.id %}" class="hidden lg:flex btn btn-error btn-outline">
                    <i class="mr-1 fa-solid fa-trash"></i>{% translate "Delete" %}
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 mt-2 lg:grid-cols-3">
            {% if member.phone %}
                <a href="{{ member.phone.as_rfc3966 }}" class="btn btn-info"><i class="fa-solid fa-phone"></i>{{ member.phone }}</a>
            {% endif %}

            {% if member.emergency_phone_primary %}
                <a href="{{ member.emergency_phone_primary.as_rfc3966 }}" class="btn btn-error"><i class="fa-solid fa-file-medical"></i>{{ member.emergency_phone_primary }}</a>
            {% endif %}

            {% if member.emergency_phone_secondary %}
                <a href="{{ member.emergency_phone_secondary.as_rfc3966 }}" class="btn btn-error"><i class="fa-solid fa-file-medical"></i>{{ member.emergency_phone_secondary }}</a>
            {% endif %}

            <a href="{% url "clubmanager_admin:members:members_delete" member.id %}" class="lg:hidden btn btn-error btn-outline">
                <i class="mr-1 fa-solid fa-trash"></i>{% translate "Delete" %}
            </a>
        </div>
    {% else %}
        <h2 class="text-2xl border-b-0 subtitle">{% translate "Create new member" %}</h2>
    {% endif %}

    {% if form.errors %}
        <div class="mt-4 font-semibold text-error">{% blocktranslate %}Errors found - please update the errors below before continuing{% endblocktranslate %}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <h2 class="subtitle">{% translate "Personal information" %}</h2>
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
            {% form_field form.first_name %}
            {% form_field form.last_name %}
            {% form_field form.email %}
            {% form_field form.phone %}
            {% form_field form.birthday %}
        </div>

        <h2 class="subtitle">{% translate "Emergency contacts" %}</h2>
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
            {% form_field form.emergency_phone_primary %}
            {% form_field form.emergency_phone_secondary %}
        </div>

        <h2 class="subtitle">{% translate "Club information" %}</h2>
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
            {% form_field form.license %}
            {% form_field form.is_organization_admin %}
        </div>

        <h2 class="subtitle">{% translate "Password" %}</h2>
        <div class="text-sm text-gray-500 text-justify">{% blocktranslate %}Setting the password here will overwrite the current password for this member, after changing the member will be prompted to set a new password at the next login.<br />If both fields are empty the current password will not be changed.{% endblocktranslate %}</div>
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
            {% form_field form.password %}
            {% form_field form.password_confirmation %}
        </div>

        <button class="w-full mt-8 btn btn-primary lg:w-fit" type="submit">
            <i class="fa-solid fa-floppy-disk"></i>{% translate "Save" %}
        </button>
    </form>
{% endblock content %}