{% extends "_base.html" %}

{% load pagination_tags %}
{% load i18n %}
{% load form_tags %}

{% block content %}
    <h1 class="title"><i class="fa-solid fa-medal"></i>{% translate "Games" %}</h1>

    <div class="action-bar">
        <div class="action-bar-filter">
            <form>
                {% for field in filter.form %}
                    {% form_field field show_label=False size="extra-small" %}
                {% endfor %}

                <button type="submit"><i class="fa-solid fa-filter"></i>{% translate "Filter" %}</button>
            </form>
        </div>

        <div class="action-bar-add">
            <a class="add-btn" href="{% url "clubmanager_admin:activities:games_add" %}">
                <i class="fa-solid fa-plus"></i>{% translate "Add" %}
            </a>
        </div>
    </div>

    <div class="mt-2 hidden lg:block">
        <table class="table table-zebra">
            <thead>
                <tr>
                    {% comment %} <th>
                        <label>
                            <input type="checkbox" class="checkbox checkbox-sm" />
                        </label>
                    </th> {% endcomment %}
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Team" %}</th>
                    <th>{% translate "Opponent" %}</th>
                    <th>{% translate "Location" %}</th>
                    <th>{% translate "Season" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if object_list|length == 0 %}
                    <tr>
                        <td colspan="6">
                            {% translate "No games found" %}
                        </td>
                    </tr>
                {% else %}
                    {% for game in object_list %}
                        <tr class="hover">
                            <td class="font-bold">
                                <a href="{% url "clubmanager_admin:activities:games_edit" game.id %}">
                                    {{ game.date|date:"l d M Y H:i" }}
                                </a>
                            </td>
                            <td>{{ game.team }}</td>
                            <td>{{ game.opponent }}</td>
                            <td>{{ game.location }}</td>
                            <td>{{ game.season }}</td>
                            <td>
                                <a class="btn btn-outline btn-sm mr-2" href="{% url "clubmanager_admin:activities:games_edit" game.id %}">
                                    <i class="fa-solid fa-eye"></i>{% translate "Details" %}
                                </a>
                                <a class="btn btn-outline btn-error btn-sm" href="{% url "clubmanager_admin:activities:games_delete" game.id %}">
                                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="mt-2 lg:hidden flex flex-col gap-2">
        {% if object_list|length == 0 %}
            <div>{% translate "No games found" %}</div>
        {% else %}
            {% for game in object_list %}
                <a class="grow" href="{% url "clubmanager_admin:activities:games_edit" game.id %}">
                    <div class="data-card">
                        <div class="data">
                            <div>{{ game.date|date:"l d M Y H:i" }}</div>
                            <div class="flex flex-col">
                                <div>{{ game.team }} - {{ game.opponent }}</div>
                                <div>{{ game.location }}</div>
                            </div>
                        </div>

                        <div>
                            <a class="btn btn-error btn-outline" href="{% url "clubmanager_admin:activities:games_delete" game.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if is_paginated %}
        <div class="mt-4 flex justify-center">
            <div class="join">
                {% if page_obj.has_previous %}
                    <a class="join-item btn" href="?{% url_replace request "page" 1 %}">&laquo;<span class="hidden lg:inline"> {% translate "first" %}</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.previous_page_number %}"><span class="hidden lg:inline">{% translate "previous" %}</span><span class="lg:hidden">&lt;</span></a>
                {% endif %}

                <button class="join-item btn btn-disabled">{% blocktranslate with page=page_obj.number num_pages=page_obj.paginator.num_pages %}page {{ page }} of {{ num_pages }}{% endblocktranslate %}</button>

                {% if page_obj.has_next %}
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.next_page_number %}"><span class="hidden lg:inline">{% translate "next" %}</span><span class="lg:hidden">&gt;</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.paginator.num_pages %}"><span class="hidden lg:inline"> {% translate "last" %}</span> &raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}