<label class="form-control w-full lg:w-fit">
    {% if display_label %}
        <div class="label">
            <span class="label-text">{{ field.label }}</span>
        </div>
    {% endif %}

    {% if type == "text" %}
        <input
            name="{{ field.name }}"
            type="text"

            {% if display_placeholder %}
                placeholder="{{ field.label }}"
            {% endif %}

            class="input input-bordered {{ input_classes }}"
            value="{{ field.value|default:"" }}"
        />
    {% endif %}
</label>