{% load i18n %}

<div class="w-full {% if size_modifier %}lg:w-fit{% endif %}">
    <label class="form-control w-full">
        {% if show_label %}
            <div class="label">
                <span class="label-text font-light {% if field.errors %}text-error{% else %}text-gray-500{% endif %}">{{ field.label }}</span>

                {% if field.field.required %}
                    <span class="label-text-alt badge badge-sm {% if field.errors %}badge-error text-error-content{% else %}badge-neutral text-neutral-content{% endif %}">{% translate "required" %}</span>
                {% endif %}
            </div>
        {% endif %}

        {% if field_type == "select" %}
            <select 
                class="select select-bordered {% if size_modifier %}select-{{ size_modifier }}{% endif %} {% if field.errors %}select-error text-error{% endif %}" 
                name="{{ field.html_name }}"
                id="{{ field.auto_id }}"
                {% if field.widget_type == "selectmultiple" %}multiple{% endif %}
            >

                {% if field.widget_type == "selectmultiple" %}
                    {% for option_value, option_label in field.field.choices %}
                        <option value="{{ option_value }}" {% if option_value in field.value %}selected="selected"{% endif %}>
                            {{ option_label }}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for option_value, option_label in field.field.choices %}
                        <option value="{{ option_value }}" {% if field.value|stringformat:"s" == option_value|stringformat:"s" %}selected="selected"{% endif %}>
                            {{ option_label }}
                        </option>
                    {% endfor %}
                {% endif %}

            </select>

        {% elif field_type == "checkbox" %}
            <div class="flex flex-row gap-2 items-center">
                <input 
                    type="checkbox" 
                    class="checkbox {% if size_modifier %}checkbox-{{ size_modifier }}{% endif %}"
                    name="{{ field.html_name }}" 
                    {% if field.value %}checked="checked"{% endif %} 
                />
                
                <div class="label-text">
                    {{ field.help_text }}
                </div>
            </div>

        {% elif field_type == "textarea" %}
            <textarea
                name="{{ field.html_name }}"
                class="{% if type == "markdownx" %}markdownx{% endif %} textarea textarea-bordered h-72 {% if field.errors %}textarea-error text-error{% endif %} {% if size_modifier %}textarea-{{ size_modifier }}{% endif %}"
                {% if show_placeholder %}placeholder="{{ field.label }}"{% endif %}
            >{{ field.value|default:"" }}</textarea>

        {% elif field_type == "file" %}
            {% if field.value %}
                <span class="text-sm text-gray-500 my-1">{% translate "Current file:" %} {{ field.value }}</span>
            {% endif %}
            <input 
                type="file"
                class="file-input file-input-bordered {% if size_modifier %}file-input-{{ size_modifier }}{% endif %}"
                name="{{ field.html_name }}"
            />

        {% elif field_type == "input" %}
            <input 
                type="{% if field.widget_type == "regionalphonenumber" %}tel{% elif field.widget_type == "datetime" %}datetime-local{% else %}{{ field.widget_type }}{% endif %}" 
                class="input input-bordered {% if field.errors %}input-error text-error{% endif %} {% if size_modifier %}input-{{ size_modifier }}{% endif %}" 
                name="{{ field.html_name }}"
                value="{% if field.widget_type == "date" or field.widget_type == "datetime" %}{{ field.value|date:"c"|default:"" }}{% else %}{{ field.value|default:"" }}{% endif %}"
                {% if field.field.required %}required="required"{% endif %}
                {% if show_placeholder %}placeholder="{{ field.label }}"{% endif %}
            />
        {% endif %}

        {% if field.help_text and show_help or field.errors %}
            <div class="label">
                {% if field.errors %}
                    <div class="label-text-alt text-error">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {% if field.help_text and field_type != "checkbox" %}
                    <div class="label-text-alt {% if field.errors %}text-error{% endif %}">
                        {{ field.help_text }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </label>
</div>