{% load compress %}
{% load static %}
{% load i18n %}
{% load config_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ClubManager</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>

        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}" />
        {% endcompress %}

        <script src="https://kit.fontawesome.com/8189f10079.js" crossorigin="anonymous"></script>
        
    </head>

    <body class="flex flex-col h-dvh">
        <!-- Navbar -->
        <div class="navbar bg-gray-200 dark:bg-gray-700 w-full">
            <div class="navbar-start">
                <div class="mx-2 flex-1 px-2 font-bold text-xl">
                    ClubManager
                </div>
            </div>
        </div>

        <div class="flex grow justify-center items-center">
            <div class="border border-neutral w-full max-w-2xl h-fit rounded-lg shadow-xl flex flex-col m-4 lg:m-0">
                <div class="bg-gray-200 dark:bg-gray-700 w-full rounded-t-lg p-4">
                    <div class="font-bold text-2xl">
                        ClubManager Access
                    </div>
                </div>

                <div class="p-4 w-full">
                    <div class="flex flex-row gap-4 items-center my-4 justify-center">
                        <img class="w-24 tranform-gpu mask mask-circle bg-neutral" alt="logo {{ site_name }}" src="{% get_static_prefix %}{% site_logo %}" />
                        <div class="flex flex-col gap-2">
                            <h1 class="text-xl lg:text-3xl font-bold">{% site_name %}</h1>
                            {% comment %} <h2 class="font-semibold">{% blocktranslate %}Welcome back. Please login to proceed.{% endblocktranslate %} {% endcomment %}
                        </div>
                    </div>

                    <div class="mt-8">
                        {% block content %}{% endblock content %}
                    </div>

                    {% url "two_factor:login" as login %}
                    {% url "logout" as logout %}

                    {% if login not in request.path and logout not in request.path%}
                        <div class="mt-8">
                            <a class="btn btn-neutral w-full" href="{% url "clubmanager:index" %}"><i class="fa-solid fa-arrow-left"></i>{% translate "Back to ClubManager" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>