{% extends "_base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block title %}{% translate "Cost Items" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-dumbbell"></i>{% translate "Cost Items" %}</h1>
{% endblock pagetitle %}

{% block content %}
    <div class="action-bar">
        <div class="flex justify-end action-bar-add grow">
            <a class="add-btn" href="{% url "clubmanager_admin:finance:materials_add" %}">
                <i class="fa-solid fa-plus"></i>{% translate "Add" %}
            </a>
        </div>
    </div>

    <div class="hidden mt-2 lg:block">
        <table class="table table-zebra">
            <thead>
                <tr>
                    {% comment %} <th>
                        <label>
                            <input type="checkbox" class="checkbox checkbox-sm" />
                        </label>
                    </th> {% endcomment %}
                    <th>{% translate "Description" %}</th>
                    <th>{% translate "Amount" %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if object_list|length == 0 %}
                    <tr>
                        <td colspan="3">
                            {% translate "No cost items found" %}
                        </td>
                    </tr>
                {% else %}
                    {% for material in object_list %}
                        <tr class="hover">
                            <td class="font-bold">
                                <a href="{% url "clubmanager_admin:finance:materials_edit" material.id %}">
                                    {{ material.description }}
                                </a>
                            </td>
                            <td>{{ material.display_price }}</td>
                            <td>
                                {% if material.price < 0 %}
                                    <div class="badge badge-sm badge-outline badge-neutral">{% translate "Discount" %}</div>
                                {% endif %}
                            </td>
                            <td>
                                <a class="mr-2 btn btn-outline btn-sm" href="{% url "clubmanager_admin:finance:materials_edit" material.id %}">
                                    <i class="fa-solid fa-eye"></i>{% translate "Details" %}
                                </a>
                                <a class="btn btn-outline btn-error btn-sm" href="{% url "clubmanager_admin:finance:materials_delete" material.id %}">
                                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-2 mt-2 lg:hidden">
        {% if object_list|length == 0 %}
            <div>{% translate "No cost items found" %}</div>
        {% else %}
            {% for material in object_list %}
                <a class="grow" href="{% url "clubmanager_admin:finance:materials_edit" material.id %}">
                    <div class="data-card {% if material.price < 0 %}border-l-warning{% endif %}">
                        <div class="data">
                            <div>{{ material.description }}</div>
                            <div class="flex flex-row items-center gap-2 mt-2">
                                {{ material.display_price }}{% if material.price < 0 %}<div class="badge badge-sm badge-outline badge-neutral">{% translate "Discount" %}</div>{% endif %}
                            </div>
                        </div>

                        <div>
                            <a class="btn btn-error btn-outline" href="{% url "clubmanager_admin:finance:materials_delete" material.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if is_paginated %}
        <div class="flex justify-center mt-4">
            <div class="join">
                {% if page_obj.has_previous %}
                    <a class="join-item btn" href="?{% url_replace request "page" 1 %}">&laquo;<span class="hidden lg:inline"> {% translate "first" %}</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.previous_page_number %}"><span class="hidden lg:inline">{% translate "previous" %}</span><span class="lg:hidden">&lt;</span></a>
                {% endif %}

                <button class="join-item btn btn-disabled">{% blocktranslate with page=page_obj.number num_pages=page_obj.paginator.num_pages %}page {{ page }} of {{ num_pages }}{% endblocktranslate %}</button>

                {% if page_obj.has_next %}
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.next_page_number %}"><span class="hidden lg:inline">{% translate "next" %}</span><span class="lg:hidden">&gt;</span></a>
                    <a class="join-item btn" href="?{% url_replace request "page" page_obj.paginator.num_pages %}"><span class="hidden lg:inline"> {% translate "last" %}</span> &raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}