{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% translate "Cost Items" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-dumbbell"></i>{% translate "Cost Items" %}</h1>
{% endblock pagetitle %}

{% block content %}
    <div>
        {% blocktranslate with name=material.description %}    
            Are you sure you want to remove cost item <span class="font-bold">{{ name }}</span>?
        {% endblocktranslate %}
    </div>

    <form method="post" action="{% url "clubmanager_admin:finance:materials_delete" object.id %}">
        {% csrf_token %}

        <div class="flex flex-row gap-2 mt-4">
            <a href="{% url "clubmanager_admin:finance:materials_index" %}" class="btn">{% translate "Cancel" %}</a>
            <button type="submit" class="btn btn-error">{% translate "Delete" %}</button>
        </div>
    </form>
{% endblock content %}