{% extends "_base.html" %}

{% load i18n %}
{% load form_tags %}
{% load static %}

{% block title %}{% translate "Registrations" %}{% endblock title %}

{% block pagetitle %}
    <h1 class="title"><i class="fa-solid fa-file-invoice"></i>{% translate "Registrations" %}</h1>
{% endblock pagetitle %}

{% block content %}
    {% if order %}
        <div class="flex flex-row items-center gap-2 mt-8">
            <h2 class="mt-0 text-2xl border-b-0 subtitle">{% translate "Registration" %}{{ order.uuid }}</h2>
        
            <div class="flex justify-end grow">
                <a href="{% url "clubmanager_admin:finance:orders_delete" order.id %}" class="hidden lg:flex btn btn-outline btn-error">
                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <a href="{% url "clubmanager_admin:finance:orders_delete" order.id  %}" class="lg:hidden btn btn-outline btn-error">
                <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
            </a>
        </div>
    {% else %}
        <h2 class="text-2xl border-b-0 subtitle">{% translate "Create new registration" %}</h2>
    {% endif %}

    {% if form.errors %}
        <div class="mt-4 font-semibold text-error">{% blocktranslate %}Errors found - please update the errors below before continuing{% endblocktranslate %}</div>
    {% endif %}


    <form method="post">
        {% csrf_token %}

        <h2 class="subtitle">{% translate "Order Information" %}</h2>
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
            {% form_field form.season %}
            {% form_field form.status %}
        </div>

        <h2 class="subtitle">{% translate "Items" %}</h2>
        {{ lineitems.management_form }}

        <div class="flex flex-col gap-2 p-2 m-2">
            {% for form in lineitems.forms %}
                <div class="formset-row">
                    <div class="grid items-center grid-cols-1 gap-2 lg:grid-cols-5">
                        {% for field in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div>
                                {% form_field field size="small" %}
                            </div>
                        {% endfor %}

                        <div class="deletelink"></div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="w-full mt-8 btn btn-neutral" type="submit">
            <i class="fa-solid fa-floppy-disk"></i>{% translate "Save" %}
        </button>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "src/jquery.formset.js" %}"></script>
    <script type="text/javascript">
        $(".formset-row").formset({
            addText: "{% translate "Add row" %}",
            deleteText: "{% translate "Remove row" %}",
            prefix: "lineitem_set",
            addCssClass: "btn btn-sm btn-outline max-w-fit",
            deleteCssClass: "btn btn-error btn-outline btn-sm",
            deleteContainerClass: "deletelink"
        });
    </script>
{% endblock content %}